@model IEnumerable<power_usage_monitor.Models.User>

@{
    ViewData["Title"] = "用戶列表";
}

<!--回傳訊息到TempData["message"]上，則會alert-->
@if (TempData["message"] != null)
{
        <script>
            var message = @Html.Raw(Json.Serialize(TempData["message"]));
            alert(message);
        </script>

}

<h1>用戶列表</h1>

<p>
    <a asp-action="Create">新增使用者</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                使用者名稱
            </th>
            <th>
                使用者電子郵件
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.UserName">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.UserName">查看詳細</a> |*@
                <a asp-action="Delete" asp-route-id="@item.UserName">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
