@model power_usage_monitor.Models.Device

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandbyTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandbyTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DeviceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
