@model IEnumerable<power_usage_monitor.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandbyTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandbyTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeviceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeviceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeviceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
