@model IEnumerable<power_usage_monitor.Models.Device>

@{
    ViewData["Title"] = "設備列表";
}

<!--回傳訊息到TempData["message"]上，則會alert-->
@if (TempData["message"] != null)
{
    <script>
        var message = @Html.Raw(Json.Serialize(TempData["message"]));
        alert(message);
    </script>

}

<h1>設備列表</h1>
<h3>目前共有 @ViewBag.deviceTotal 個設備</h3>
@{
    string emptyPlug = "插座";
    foreach (var item in ViewBag.deviceList)
    {
        emptyPlug += item.Text + " ";
    }
    if (ViewBag.deviceTotal != 6)
    {
        <h3>@emptyPlug 是空閒的</h3>
    }
}

<p>
    <a asp-action="Create">新增設備</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                設備名稱
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.StandbyTime)
            </th>*@
            <th>
                使用時間
            </th>
            <th>
                狀態
            </th>
            <th>
                分類
            </th>
            <th>
                使用者
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.StandbyTime)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.DeviceCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeviceId">編輯</a> |
@*                <a asp-action="Details" asp-route-id="@item.DeviceId">查看詳細</a> |*@
                <a asp-action="Delete" asp-route-id="@item.DeviceId">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
