@model IEnumerable<power_usage_monitor.Models.Abnormal>

@{
    ViewData["Title"] = "異常列表";
}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/cal-heatmap@4.0.0-beta.1/dist/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/cal-heatmap@4.0.0-beta.1/dist/cal-heatmap.css">
<h1>異常列表</h1>
<div id="cal-heatmap"></div>
<script>
    const cal = new CalHeatmap();
    type Options = {
        itemSelector: Element | string,
        range: 6,
        domain: DomainOptions,
        subDomain: SubDomainOptions,
        verticalOrientation: boolean,
        date: DateOptions,
        data: DataOptions,
        label: LabelOptions,
        animationDuration: number,
        tooltip: TooltipOptions,
        legend: LegendOptions,
        scale: ScaleOptions,
    };
    type DomainOptions: {
      type: day;
      gutter: 29;
      padding: [8, 8, 0, 8];
      dynamicDimension: true;
      label: LabelOptions;
      subLabel: SubLabelOptions;
      sort: 'asc' | 'desc';
    }
    cal.paint(Options);
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                設備編號(插座編號)
            </th>
            <th>
                異常耗電量
            </th>
            <th>
                異常發生時間
            </th>
            <th>
                原因
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbnormalUsage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbnormalTime)
            </td>
            <td>
                    @{
                        string html = @"<input type=""checkbox"" checked  readonly>超過使用時間 ";
                        if (item.AbnormalUsage >= item.Device.Category.CategoryAvgPower)
                        {
                            html += @"<input type=""checkbox"" checked readonly>超過分類(" 
                            + item.Device.Category.CategoryAvgPower + "W)耗電"
                            + "(>=" + (item.AbnormalUsage - item.Device.Category.CategoryAvgPower).ToString("f3") + " W)";
                        }
                        else
                        {
                            html += @"<input type=""checkbox""  readonly>超過分類耗電";
                        }
                        @Html.Raw(html);
                    }
            </td>
@*            <td>
                <a asp-action="Edit" asp-route-id="@item.AbnormalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AbnormalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AbnormalId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
