@model IEnumerable<power_usage_monitor.Models.Abnormal>

@{
    ViewData["Title"] = "Abnormal";
}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/cal-heatmap@4.0.0-beta.1/dist/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/cal-heatmap@4.0.0-beta.1/dist/cal-heatmap.css">
<h1>Abnormal</h1>
<div id="cal-heatmap"></div>
<script>
    const cal = new CalHeatmap();
    type Options = {
        itemSelector: Element | string,
        range: 6,
        domain: DomainOptions,
        subDomain: SubDomainOptions,
        verticalOrientation: boolean,
        date: DateOptions,
        data: DataOptions,
        label: LabelOptions,
        animationDuration: number,
        tooltip: TooltipOptions,
        legend: LegendOptions,
        scale: ScaleOptions,
    };
    type DomainOptions: {
      type: day;
      gutter: 29;
      padding: [8, 8, 0, 8];
      dynamicDimension: true;
      label: LabelOptions;
      subLabel: SubLabelOptions;
      sort: 'asc' | 'desc';
    }
    cal.paint(Options);
</script>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbnormalUsage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbnormalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoticedUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbnormalUsage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbnormalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticedUserNavigation.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AbnormalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AbnormalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AbnormalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
